@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: yellow;
  font-family: 'Roboto', sans-serif;
}

.hello {
  color: red;
}

img {
  width: 20px;
}